[Unit]
Description=Pi Monitoring Server
After=service-registry.service
After=docker.service
Requires=docker.service

[Service]
TasksMax=infinity
RestartSec=90
StartLimitBurst=5
Restart=always
Environment="NODE_ENV=production"
Type=simple
ExecStart=/usr/bin/docker run --network="host" --env-file /var/lib/danielhammerl/service-env/pi-monitoring-server.env -i dhammerl-pi-monitoring-server:latest

[Install]
WantedBy=multi-user.target
