[Unit]
Description=Pi Monitoring Server

[Service]
TasksMax=infinity
User=webservices
RestartSec=90
StartLimitBurst=5
Restart=always
Environment="NODE_ENV=production"
Type=simple
WorkingDirectory=/usr/local/bin/pi-monitoring-server
ExecStart=/usr/bin/node /usr/local/bin/pi-monitoring-server/index.js

[Install]
WantedBy=multi-user.target
